<div>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="select-photo" class="btn btn-secondary">
    <i class="fa fa-file-image-o"></i>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <i class="fa fa-camera"></i>
      <span (click)="openCamera()">Take Photo</span>
    </button>
    <button mat-menu-item>
      <i class="fa fa-folder-open"></i>
      <span (click)="file.click()">
			  Select Photo
        <input type="file" accept="image/*" #file (change)="photoSelected($event)" class="hidden" />
      </span>
    </button>
  </mat-menu>
</div>
